// dependent browser-prefix.scss
@mixin flex-hor ($oldvalue,$value){
    /* 09版 */
   -webkit-box-pack: $oldvalue;
   /* 12版 */
   @include vendor("justify-content",$value);
}


@mixin flex-ver ($oldvalue,$value){
    /* 09版 */
   -webkit-box-align: $oldvalue;
   /* 12版 */
   @include vendor("align-items",$value);
}

%flex{
    display: flex;
}
%flex-cell {
    flex: 1;
}

%row {
    @extend %flex;
}

%col {
    @extend %flex-cell;
}

@mixin vendor($property, $value) {
	-webkit-#{$property}: $value;
	-moz-#{$property}: $value;
    -ms-#{$property}: $value;
	-o-#{$property}: $value;
	#{$property}: $value;
}

%hor-start {
    @include flex-hor(start,flex-start)
}
%hor-center {
    @include flex-hor(center,center)
}
%hor-end {
    @include flex-hor(end,flex-end)
}
%hor-between {
    @include flex-hor(justify,space-between)
}
%hor-around {
    @include flex-hor(normal,space-around)
}

// 垂直
%ver-start {
    @include flex-ver(start,flex-start)
}
%ver-center {
    @include flex-ver(center,center)
}
%ver-end {
    @include flex-ver(end,flex-end)
}
%ver-stretch {
    @include flex-ver(stretch,stretch)
}
%ver-baseline {
    @include flex-ver(baseline,baseline)
}
%ver-initial {
    @include flex-ver(normal,initial)
}







%row-top{
    @extend %flex;
    align-items: baseline;
}

