@import "./reset.scss";
@import "./zxx.scss";
@import "./ydui.scss";
@import "./layout/index.scss";
// 字体显示优化
* {
  -webkit-font-smoothing: antialiased;
}
// 清除触摸的高亮
* {
  -webkit-tap-highlight-color: transparent;
}
html,
body,
#app {
  width: 100%;
  height: 100%;
  background-color: #fff !important;
  
  .yd-scrollview:after {
    background: #f1f1f1
  }
}
